---

---

<section id="projects" class="min-h-screen flex flex-col justify-center py-20">
    <h2 class="mb-2 text-lg font-bold text-theme text-center">프로젝트</h2>
    <p class="mb-10 text-center text-2xl font-bold">주요 프로젝트의 세부사항은 다음과 같습니다.</p>

    <div class="space-y-12">
        <article class="flex flex-col md:flex-row gap-8">
            <div class="w-full tablet:w-1/2 h-64 rounded-lg"></div>
            <div class="w-full talet:w-1/2">
                <!-- 내용 -->
            </div>
        </article>
    </div>
</section>
