@import 'tailwindcss';
@import './fonts.css';
@plugin "@tailwindcss/typography";

:root {
    --background: #fcfcfc;
    --foreground: #222222;
}

html {
    scrollbar-gutter: stable;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-pretendard), sans-serif;
    min-width: 360px;
    letter-spacing: -0.45px;
    word-break: keep-all;
    overflow-wrap: normal;
}

@theme {
    --font-pretendard: 'Pretendard';

    --color-base-black: '#222222';
    --color-theme: var(--theme-color);

    --breakpoint-desktop: 1024px;
    --breakpoint-tablet: 768px;
    --breakpoint-mobile: 360px;
}

@layer utilities {
    .dialog-open {
        animation: scaleUp 0.3s ease-out forwards;
    }

    @keyframes scaleUp {
        from {
            opacity: 0;
            transform: scale(0.95);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}
