---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/hero/Hero.astro'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'

import { METADATA } from '../constants'
import Stacks from '../components/stacks/Stacks.astro'
import Projects from '../components/projects/Projects.astro'
import Blog from '../components/blog/Blog.astro'
---

<BaseLayout title={METADATA.TITLE} description={METADATA.DESCRIPTION}>
    <Hero />
    <Navbar />

    <main class="max-w-5xl mx-auto px-4">
        <Stacks />
        <Projects />
        <Blog />
    </main>

    <Footer />
</BaseLayout>
