---
import Navbar from '../components/Navbar.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/Hero.astro'
import Footer from '../components/Footer.astro'

import { METADATA } from '../constants'
import Skills from '../section/Skills.astro'
import Projects from '../section/Projects.astro'
import Blog from '../section/Blog.astro'
---

<BaseLayout title={METADATA.TITLE} description={METADATA.DESCRIPTION}>
    <Hero />
    <Navbar />

    <main class="max-w-4xl mx-auto px-4">
        <Skills />
        <Projects />
        <Blog />
    </main>

    <Footer />
</BaseLayout>
