---
const links = [
    { name: '기술', href: '#skills' },
    { name: '프로젝트', href: '#projects' },
    { name: '블로그', href: '#blog' },
]
---

<nav
    class="sticky top-3 z-50 mx-auto max-w-fit p-2 rounded-full bg-neutral-300/30 backdrop-blur-md transition-all duration-300"
>
    <div class="flex justify-center items-center">
        <ul class="flex gap-2 font-medium">
            <li>
                <a
                    href="#home"
                    aria-label="맨 위로"
                    class="nav-link flex items-center justify-center w-10 h-10 text-theme rounded-full cursor-pointer transition-all duration-300 hover:bg-white/50 data-[active=true]:bg-white data-[active=true]:text-base-black"
                >
                    <svg
                        width="16"
                        height="16"
                        viewBox="0 0 96 96"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M72 0C85.2548 0 96 10.7452 96 24C96 37.2548 85.2548 48 72 48C85.2548 48 96 58.7452 96 72C96 85.2548 85.2548 96 72 96C59.5553 96 49.3235 86.5281 48.1191 74.4004H47.8809C46.6765 86.5281 36.4447 96 24 96C10.7452 96 0 85.2548 0 72C0 58.7452 10.7452 48 24 48C24.4025 48 24.8026 48.0097 25.2002 48.0293V47.9697C24.8026 47.9893 24.4025 48 24 48C10.7452 48 0 37.2548 0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24C48 10.7452 58.7452 0 72 0Z"
                        ></path>
                    </svg>
                </a>
            </li>
            {
                links.map((link) => (
                    <li>
                        <a
                            href={link.href}
                            aria-label={`${link.name} 섹션 보기`}
                            class="
                                nav-link block px-4 py-2 rounded-full cursor-pointer transition-all duration-300
                                hover:bg-white/50 hover:text-theme text-neutral-600 data-[active=true]:bg-white data-[active=true]:text-base-black"
                        >
                            {link.name}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</nav>

<script>
    const sections = document.querySelectorAll('section')
    const navLinks = document.querySelectorAll('.nav-link')

    const observer = new IntersectionObserver(
        (entries) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    navLinks.forEach((link) => {
                        link.setAttribute('data-active', 'false')
                    })

                    const id = entry.target.getAttribute('id')
                    const activeLink = document.querySelector(`.nav-link[href="#${id}"]`)

                    if (activeLink) {
                        activeLink.setAttribute('data-active', 'true')
                    }
                }
            })
        },
        {
            threshold: 0.5,
        }
    )

    sections.forEach((section) => {
        observer.observe(section)
    })
</script>
