---
const { title, description } = Astro.props
---

<h2 class="mb-2 text-lg font-bold text-theme text-center">{title}</h2>
<p class="mb-14 text-center text-2xl font-bold whitespace-pre-line">
    {description}
</p>
