---
interface Props {
    src: string
    name: string
    size?: 'sm' | 'md'
}

const { src, name, size = 'md' } = Astro.props
---

<div class="group/logo relative flex flex-col items-center cursor-pointer">
    <img
        src={src}
        alt={name}
        class={`transition-transform duration-300 group-hover/logo:scale-110
            ${size === 'md' ? 'w-10 h-10 rounded-lg' : 'w-6 h-6 rounded-md'}`}
    />
    <span
        class="absolute -bottom-8 z-10 opacity-0 group-hover/logo:opacity-100 transition-opacity duration-300
            text-sm bg-neutral-800 text-neutral-100 px-2 py-1 rounded shadow-lg whitespace-nowrap"
    >
        {name}
    </span>
</div>
