---
import TechLogo from '../TechLogo.astro'

interface Item {
    name: string
    src: string
}

interface Props {
    stacks: {
        data: Item[]
    }
}

const { stacks } = Astro.props
---

<div class="flex flex-wrap gap-3 justify-center justify-items-center">
    {stacks.data.map((stack) => <TechLogo src={stack.src} name={stack.name} />)}
</div>
