---
import { STACKS } from '../constants'
---

<section id="skills" class="min-h-screen flex flex-col justify-center items-center py-20 px-4">
    <h2 class="mb-2 text-lg font-bold text-theme text-center">기술 스택 및 도구</h2>
    <p class="mb-10 text-center text-2xl font-bold">다음의 기술들을 사용할 수 있습니다.</p>

    <div class="grid grid-cols-1 gap-2 max-w-lg w-full">
        {
            STACKS.map((group) => (
                <div class="p-4">
                    <h3 class="mb-3 text-center text-neutral-500">{group.label}</h3>

                    <div class="flex flex-wrap gap-3 justify-center justify-items-center">
                        {group.data.map((stack) => (
                            <div class="group relative flex flex-col items-center cursor-pointer">
                                <img
                                    src={stack.src}
                                    alt={stack.name}
                                    class="w-10 h-10 rounded-lg transition-transform duration-300 group-hover:scale-110"
                                />
                                <span
                                    class="absolute -bottom-8 z-10 opacity-0 group-hover:opacity-100 transition-opacity duration-300 
                                            text-sm bg-neutral-800 text-neutral-100 px-2 py-1 rounded shadow-lg whitespace-nowrap"
                                >
                                    {stack.name}
                                </span>
                            </div>
                        ))}
                    </div>
                </div>
            ))
        }
    </div>
</section>
