---
import { ExternalLink } from 'lucide-react'

interface Props {
    link: string
}

const { link } = Astro.props
---

<a
    href={link}
    target="_blank"
    rel="noopener noreferrer"
    class="flex flex-row gap-2 mx-auto px-4 py-2 items-center font-medium rounded-xl text-neutral-800 bg-neutral-200 hover:bg-neutral-300 transition-colors duration-200 cursor-pointer"
    >블로그로 이동하기
    <ExternalLink width="20" height="20" />
</a>
